<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="components/head"></head>
<body>
<div th:include="components/nav"></div>
<div class="container-posts">
    <div class="container-post" th:each="post : ${posts}">
        <p th:text="${post.alias}"></p>
        <p th:text="${post.texto}"></p>
        <div class="container-fecha-post">
            <p>Likes</p>
            <p th:text="${post.fechaPublicacion}"></p>
        </div>
    </div>
</div>

<p th:text="${buscarPorTexto}"></p>
</body>
</html>